<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

<!--    <bean id="zhangsan" name="user" class="com.hhx.entity.User">-->
<!--        <property name="userName" value="张三"></property>-->
<!--        <property name="email"  value = "163.com"></property>-->
<!--    </bean>-->


    <bean id="lisi" name="customer" class="com.hhx.self.selfEditor.Customer">
        <property name="name" value="李四"></property>
        <property name="address" value="北京_北京市_朝阳区"></property>
    </bean>

    <bean name="editor" class = "org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <bean class="com.hhx.self.selfEditor.SelfEditorRegistry"></bean>
            </list>
        </property>

    </bean>

</beans>